*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family:"Roboto";
    color: rgba(255, 255, 255, 0.5);
    height: calc(100vh - 100px);
}

header{
    position: sticky;
    height: 100px;
    background-color: rgb(8, 11, 18);
    top: 0;
    z-index: 1; 
}


main{
    height: calc(100vh - 100px);
    background-color:#141922;
    display: flex;
    overflow-y: scroll;
}

#barra-lato{
    
    width: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    
}



footer{
    height: 100px;
    background-color: #222222;
    
}

#principale{
    width: calc(100% - 250px);
    height: 100%;
}

.d-flex{
    display: flex;
}

/*+++++++++++++++++    BARRA LATO   +++++++++++++++++++++*/


.botton {
   margin: 20px;
   padding: 10px 35px;
   border: 2px solid white;
   border-radius: 20px;

}

.j-end{
    justify-content: flex-end;
}

.j-center{
    justify-content: center;
}

.al-center{
    align-items: center;
}

.al-end{
    align-items: flex-end;
}

.logo{
    height: 100px;
    padding: 20px;
}

 ul{
    list-style-type: none;
    
    
}

.lato li{
    padding-left: 20px;
    
}

.casa{
    border-left: 3px solid #A9F540;
}

.lato img{
    width: 30px;
    margin-right: 5px;
    height: 40px;
}


.playlist li{
    margin: 18px 0;
}

li.play{
    margin: 25px 0;
}

.piu{
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    margin-right: 5px;
    font-size: 30px;
}

.installa img{
    width: 20px;
}

.sotto{
    padding: 20px;
}

.sotto img{
    margin-right: 10px;
}

.profilo{
    margin: 10px 0;
}

.profilo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #A3A3A3;
    
}


/*+++++++++++++++++      PRINCIPALE       +++++++++++++++++*/

.container{
    padding: 20px 0;
    padding-left: 20px;

}

.grosso, .nome-album, .last-nome{
    font-weight: bold;
}


.sei li{
    margin: 10px 20px;
}

h2{
    font-size: 30px;
    margin: 20px 0;
}


.linea-verde{
    border-bottom: 3px solid #ADFF2F;
}

.wrap{
    flex-wrap: wrap;
}


.carta{
    width: calc(100% / 6);
    padding-right: 20px;
      
    
}

.relativo{
    width: 100%;
    position: relative;
}

.carta img{
    width: 100%;
}



.nome-album, .sottotitolo{
    text-align: center;
    margin: 15px;
}

.nome-album, h2, .profilo, .botton, p, .premi, .last-nome, .volume i{
    color: white;
}

.primo-sottotitolo{
    margin-bottom: 30px;
}

.radius{
    border-radius: 50%
}


.guarda{
    font-size: 70px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*++++++++++++++++++ FOOTER ++++++++++++++++++++++++*/


.ascolto{
    justify-content: space-between;
}

.brano, .volume{
    width: 250px;
}

.tempo{
    width: calc(100vw - 500px);
}

.foto-brano{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

footer img{
    width: 100%;
}

.margin{
    margin: 5px 10px;
}


.barra-volume{
    height: 4px;
    
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);

}

.totale{
  width: 50%;  
}

.passivo{
    width: 30%;   
    background-color: rgb(255, 255, 255);

}

.comandi{
    width: 40%;

}

.w100{
    width: 100%;
}

.around{
    justify-content: space-around;
}

p{
    font-size: 12px;
}

.premi{
font-size: 15px;
}

.premi-avvio{
    font-size: 30px;
    color: white;
}


.finito{
    margin-bottom: 10px;
}

.sinistra{
    padding-right: 40px;
}

.destra{
   padding-left: 40px; 
}


.barra-tempo{
    width: calc(100vw - 580px);
}

/*+++++++++++++++++++ HOVER +++++++++++++++++++++++*/

a{
    text-decoration: inherit;
    color: inherit;
}

.botton:hover{
    transform: scale(1.1);
    
}

.premi-avvio:hover{
    transform: scale(1.2);
    
}

.lista-lato li:hover{
    color: white;
}

.installa:hover{
    color: white;
}

.sei li:hover{
    color: white;
}

.fa-heart:hover{
    color: white;
}

.fa-folder:hover{
    color: white;
}

/*++++++++++++++++ MEDIA QUERY  +++++++++++++++++++*/


@media screen and (max-width: 1200px){
    .carta{
        width: calc(100% / 4);
    }
}


@media screen and (max-width: 878px){
    .carta{
        width: calc(100% / 2);
    }

    .tastini{
        flex-direction: column;
    }

}

@media screen and (max-width: 639px){
    #barra-lato{
        width: 75px;
    }

    .container{
        width: calc(100vw - 75px);
    }

}